/* styles/bottomInput.module.css */

.header {
  @apply max-h-16 px-5 w-1/2 m-auto flex justify-center items-center bg-white outline-none flex-1 rounded-sm;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.title {
  @apply flex justify-center grow-[5];
  font-family: "Helvetica Neue", Tahoma, Verdana, sans-serif;
  font-size: x-large;
  font-weight: 500;
  color: rgb(12, 11, 7);
}

/* mobile devices */
@media (max-width: 700px) {
  .header {
    width: 95%;
    padding: 20px;
  }
}

/* tabs and smaller desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .header {
    width: 95%;
    padding: 20px;
  }
}
