/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* Reset default stylings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: white;
  font-family: Arial, sans-serif;
  height: 100vh;
}