.ai_chat_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100vw;
  height: 100vh;
}

.inputContainer {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: auto;
  flex-direction: row;
  flex-wrap: nowrap;
}

.header {
  max-height: 4rem;
  padding: 20px;
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  background-color: white; /* Light gray background */
  border-bottom: 1px solid #ddd;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  outline: none;
  flex: 1;
}

.title {
  font-family: "Helvetica Neue", Tahoma, Verdana, sans-serif;
  font-size: x-large;
  font-weight: 500;
  color: rgb(12, 11, 7);
}

.inputText {
  flex: 1;
  padding: 20px;
  margin-right: 8px;
  background-color: #fff;
  border-top: 1px solid #ddd;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
}

.sendButton,
.disabledButton {
  padding: 8px 16px;
  background-color: #0074e4;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.disabledButton {
  background-color: #3e6f9d;
  cursor: not-allowed;
}

.messageContainer {
  display: flex;
  flex-direction: column-reverse;
  width: 45%;
  margin: auto;
  overflow-y: auto;
  overflow-anchor: auto !important;
  flex: 1;
}

.messageWrapper {
  display: flex;
  flex-direction: column;
}

.messageContainer .messageWrapper {
  transform: translateZ(0); /*fixes a bug in safari (ios)*/
}

.thinking {
  background-color: #f0f0f0; /* Thinking message background color */
  color: #333; /* Thinking message message text color */
  align-self: flex-start; /* Left-align Thinking message */
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

/* mobile devices */
@media (max-width: 700px) {
  .inputText {
    padding: 12px;
  }
  .inputContainer {
    width: 98%;
  }
  .messageContainer {
    width: 90%;
    bottom: 3rem;
  }
  .header {
    width: 95%;
    padding: 20px;
  }
}

/* tabs and smaller desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .inputText {
    padding: 16px;
  }
  .inputContainer {
    width: 98%;
  }
  .messageContainer {
    width: 90%;
    max-height: 86%;
  }
  .header {
    width: 95%;
    padding: 20px;
  }
}
